extensions/rax/data-model/src/main/resources/META-INF/xsd/RaxApi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified"
            targetNamespace="http://docs.openstack.org/atlas/api/v1.1"
            xmlns:tns="http://docs.openstack.org/atlas/api/v1.1"
            xmlns:core="http://docs.openstack.org/atlas/api/v1.1"
            xmlns:rax="http://docs.openstack.org/atlas/api/v1.1/extensions/rax"            
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
            jaxb:version="2.1"
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
            jaxb:extensionBindingPrefixes="xjc">

    
    <xsd:import schemaLocation="RaxTypes.xsd"
                namespace="http://docs.openstack.org/atlas/api/v1.1/extensions/rax"/>
                
    <xsd:redefine schemaLocation="../../../../../../../../core-data-model/src/main/resources/META-INF/xsd/CoreApi.xsd">
        <xsd:complexType name="loadBalancer">
            <xsd:complexContent>
                <xsd:extension base="core:loadBalancer">
                    <xsd:sequence>
                        <xsd:element name="accessList" type="rax:accessList" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="crazyName" type="xsd:string"/>            
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>                                                                        
    </xsd:redefine>
    

</xsd:schema>
